*{
    background-color: skyblue;
}
body{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

div{
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border: solid 1px black;
}

.center{
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}
table{
    border: solid 1px black;
}
input  {
    border-radius: 30px;
}
